@media (max-width: 1500px) {

    .albumButton.active {
        width: 20%;
      }
}

@media (max-width: 1000px) {

    .albumButton.active {
      width: 30%;
    }
}

@media (max-width: 700px) {

    .wrapper {
        width: 90%;
    }
  
    .headerWrapper {
        flex-direction: column;
        align-items: center;
    }
  
    .textContainer {
        align-items: center;
        text-align: center;
        width: 100%;
    }
  
    .imageContainer {
        width: 100%;
        margin: 10% 0;
    }
}  


@media (max-width: 500px) {

    .timelineContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 800px;
        top: 40px;

        .timelineLine {
            display: block;
            width: 20px;
            height: 100%;
            background: linear-gradient(180deg, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 50%, rgba(243,204,189,1) 100%);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .albumButton {
        width: 100%;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
    }

    .albumButton > span {
        left: 2px;
    }

    .albumButton.active {
        width: 50%;
    }

    span p {
        background-color: #FFF;
        display: inline;
        padding: 5px;
    }
      
    /* Flickity */

    .carousel-cell {
    height: 1000px;
    }
}
